# Node modules
node_modules/

# Build output
dist/

# Logs
logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# Mac system files
.DS_Store

# IDE
.vscode/
.idea/

# Optional
tmp/